[submodule "antlr4"]
	path = antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "external/antlr4"]
	path = external/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "strideparser"]
	path = strideparser
	url = https://github.com/StrideLang/strideparser
[submodule "stridejit"]
	path = stridejit
	url = git@github.com:StrideLang/stridejit.git
