[submodule "strideparser"]
	path = strideparser
	url = ../strideparser.git
[submodule "strideroot"]
	path = strideroot
	url = ../strideroot.git
[submodule "stridejit"]
	path = stridejit
	url = ../stridejit.git
[submodule "codegen"]
	path = codegen
	url = ../codegen.git
[submodule "strideutils"]
	path = strideutils
	url = ../strideutils.git
[submodule "stridelang"]
	path = stridelang
	url = ../stridelang.git
