config Test {
    rtAudioAPI: "pulse"
    _arduinoBinary: """"
    _arduinoType: "arduino:avr:leonardo"
    _serialPortOption: ""/dev/ttyACM0""
}
override Test {
    audioRate: 44100
    serialBaudRate: 56000
    _blockSize: 256
    _deviceIndex: 2
    _numInputChannels: 2
    _numOutputChannels: 2
}
